* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in element's total width/height */
}

#root {
  padding: 0;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg{
  background: #000;
  width: 100vw;
  left: 0;
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: stretch;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  justify-content: flex-start;
  box-sizing: border-box;
  font-family: "monty", serif;
  color: white;
}

.hero-bg {
  background-image: url('C:\Users\salma\New folder\sustain_chain\frontend\src\assets\homepg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.homePagePara{
  font-family: "thinMonty", serif;
  color: white;
  width: 25%;
  align-content: center;
}

