#root {
  padding: 0;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg{
  background-image: url('C:\Users\salma\New folder\sustain_chain\frontend\src\assets\homepg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding:0;
  overflow-y:auto;
  justify-content: flex-start;
  box-sizing: border-box;
  font-family: url('C:\Users\salma\New folder\sustain_chain\frontend\src\assets\montserrat\Montserrat-Black.ttf');
  color: white;
}

.homePagePara{
  font-family: url('montserrat/Montserrat-Black.ttf');
  color: white;
  width: 25%;
  align-content: center;
}

